extends layout

block content

  main(class='messages')
    if user
      a(href='/new-message' class='new-message-btn' draggable='false') New
    each message in messages
      div(class='message-container')
        div(class='message__author-container')
          if user
            span(class='message__author') #{message.author.username}
          else
            a(href='/login' class='message__author' style='padding:0.25em;') Login to discover.
            br
            | or
            br
            a(href='/signup' style='padding:0.25em;') Sign Up.
        div(class='message__content')
          div(class='message__header') 
            h4(class='message__title') #{message.messageTitle}
            if user
              div(class='message__time') #{message.humanTime}
          div(class='message__body') #{message.messageBody}
    else 
      p There are no messages to show. 
        a(href='/login') Login 
      | to start the chain!