doctype html
html
  head
    title Members Only
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      h3(class='nav-header')
        a(href='/') Members Only
      div.nav-links
        if user
          if user.isAdmin
            a(href='/adminPanel' class='flex-right') Admin
          a(href='/logout' class='flex-right') Logout
        else
          a(href='/signup') Sign Up
          a(href='/login' class='flex-right') Login

    block content
