extends layout
block content
    div.form-container
        form(action='/signup' method='POST')
            h2.text-center Sign Up
            div
                label(for='firstName') First Name
                - const firstName = submittedData ? submittedData.firstName : ''
                input(id='firstName' name='firstName' value=firstName required)
            div
                label(for='familyName') Last Name
                - const familyName = submittedData ? submittedData.familyName : ''
                input(id='familyName' name='familyName' value=familyName required)
            div
                label(for='username') Username
                input(id='username' name='username' required)
            div
                label(for='password') Password (minimum length: 8)
                input(id='password' name='password' type='password' required)
            div
                label(id='confirmPassword') Confirm Password
                input(id='confirmPassword' name='confirmPassword' type='password' required)
            button Submit

            div(class='errors-div')
                ul
                    if errors
                        each error in errors
                            li #{error.msg}